<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>495309629929886</sid>
    <event-sheet>Menu</event-sheet>
    <size>
        <width>854</width>
        <height>480</height>
    </size>
    <margins>
        <horizontal>100</horizontal>
        <vertical>100</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Menu_Background" sid="161948204197671">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>1</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="bg_menu" uid="5">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>854</width>
                        <height>480</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Menu" sid="822141499004796">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="btn_iniciar" uid="6">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <H>69</H>
                        <W>210</W>
                        <index>0</index>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Entrada_LiteTween">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>427.167, 140.505</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.4</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-118</x>
                        <y>152</y>
                        <z>0</z>
                        <width>210</width>
                        <height>69</height>
                        <depth>0</depth>
                        <hotspotX>0.500794888</hotspotX>
                        <hotspotY>0.507317066</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btn_instrucoes" uid="8">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <H>69</H>
                        <W>210</W>
                        <index>2</index>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Entrada_LiteTween">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>427.167, 241.505</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.4</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-500</x>
                        <y>244</y>
                        <z>0</z>
                        <width>210</width>
                        <height>69</height>
                        <depth>0</depth>
                        <hotspotX>0.500794888</hotspotX>
                        <hotspotY>0.507317066</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btn_config" uid="15">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <H>71</H>
                        <W>69</W>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Entrada_LiteTween">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>Linear</function>
                                <target>809.231, 432.976</target>
                                <target-mode>Absolute</target-mode>
                                <duration>0.5</duration>
                                <enforce-mode>Enforce</enforce-mode>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>807</x>
                        <y>799</y>
                        <z>0</z>
                        <width>69</width>
                        <height>71</height>
                        <depth>0</depth>
                        <hotspotX>0.509708762</hotspotX>
                        <hotspotY>0.483568072</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Desenvolvido" uid="22">
                    <properties>
                        <text>Desenvolvido por:</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>7</x>
                        <y>14</y>
                        <z>0</z>
                        <width>200</width>
                        <height>23</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Desenvolvido" uid="23">
                    <properties>
                        <text>Rauny Henrique Bezerra</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>7</x>
                        <y>43</y>
                        <z>0</z>
                        <width>200</width>
                        <height>23</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Desenvolvido" uid="24">
                    <properties>
                        <text>Luis Lancelote</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>7</x>
                        <y>73</y>
                        <z>0</z>
                        <width>200</width>
                        <height>23</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Desenvolvido" uid="25">
                    <properties>
                        <text>Marcus</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16,700,0</font>
                        <color>255,255,255</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>7</x>
                        <y>102</y>
                        <z>0</z>
                        <width>200</width>
                        <height>23</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Modal_Background" sid="188272938998284">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
    </layers>
    <nonworld-instances>
        <instance type="Navegation" uid="4">
            <instance-variables>
                <last_layout></last_layout>
                <current_layout></current_layout>
            </instance-variables>
        </instance>
    </nonworld-instances>
    <effects />
</c2layout>
